In [1]:
import pandas as pd

In [133]:
df = pd.read_csv("creditcardcli.csv",header=None)

In [134]:
df = df.drop([0])

In [135]:
df.columns = df.iloc[0]
df = df.iloc[1:]
df.drop(df.columns[0], axis=1, inplace=True)
df.columns.name = "ID"
df.reset_index(drop=True, inplace=True)
df

ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000,1,3,1,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,150000,1,3,2,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,30000,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [139]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object', name='ID')

In [140]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [144]:
X = df.drop(columns=['default payment next month'])
y = df['default payment next month']



X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

y_train = y_train.astype('float32')
y_test = y_test.astype('float32')

In [145]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1) 
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')  # For regression tasks

In [146]:
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/50
750/750 [==============================] - 2s 2ms/step - loss: 0.1538 - val_loss: 0.1449
Epoch 2/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1418 - val_loss: 0.1420
Epoch 3/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1393 - val_loss: 0.1407
Epoch 4/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1372 - val_loss: 0.1391
Epoch 5/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1364 - val_loss: 0.1385
Epoch 6/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1350 - val_loss: 0.1387
Epoch 7/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1348 - val_loss: 0.1383
Epoch 8/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1344 - val_loss: 0.1391
Epoch 9/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1341 - val_loss: 0.1376
Epoch 10/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1335 - val_loss: 0.1379
Epoch 11/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1326 - val_loss: 0.1378
Epoch 12/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1319 - val_loss: 0.1393
Epoch 13/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1324 - val_loss: 0.1406
Epoch 14/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1312 - val_loss: 0.1383
Epoch 15/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1307 - val_loss: 0.1404
Epoch 16/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1304 - val_loss: 0.1397
Epoch 17/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1304 - val_loss: 0.1386
Epoch 18/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1303 - val_loss: 0.1390
Epoch 19/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1294 - val_loss: 0.1395
Epoch 20/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1289 - val_loss: 0.1389
Epoch 21/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1286 - val_loss: 0.1399
Epoch 22/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1285 - val_loss: 0.1400
Epoch 23/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1280 - val_loss: 0.1397
Epoch 24/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1278 - val_loss: 0.1410
Epoch 25/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1277 - val_loss: 0.1411
Epoch 26/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1276 - val_loss: 0.1437
Epoch 27/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1268 - val_loss: 0.1404
Epoch 28/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1266 - val_loss: 0.1410
Epoch 29/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1264 - val_loss: 0.1405
Epoch 30/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1261 - val_loss: 0.1409
Epoch 31/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1259 - val_loss: 0.1414
Epoch 32/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1252 - val_loss: 0.1424
Epoch 33/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1253 - val_loss: 0.1424
Epoch 34/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1246 - val_loss: 0.1421
Epoch 35/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1247 - val_loss: 0.1423
Epoch 36/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1241 - val_loss: 0.1463
Epoch 37/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1238 - val_loss: 0.1428
Epoch 38/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1235 - val_loss: 0.1448
Epoch 39/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1233 - val_loss: 0.1445
Epoch 40/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1232 - val_loss: 0.1443
Epoch 41/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1229 - val_loss: 0.1447
Epoch 42/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1228 - val_loss: 0.1442
Epoch 43/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1227 - val_loss: 0.1446
Epoch 44/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1219 - val_loss: 0.1445
Epoch 45/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1217 - val_loss: 0.1449
Epoch 46/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1218 - val_loss: 0.1472
Epoch 47/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1215 - val_loss: 0.1443
Epoch 48/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1214 - val_loss: 0.1450
Epoch 49/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1212 - val_loss: 0.1453
Epoch 50/50
750/750 [==============================] - 1s 2ms/step - loss: 0.1203 - val_loss: 0.1450

In [147]:
loss = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss:.4f}")

# You can also make predictions
predictions = model.predict(X_test)

188/188 [==============================] - 0s 1ms/step - loss: 0.1450
Test Loss: 0.1450
188/188 [==============================] - 0s 905us/step

In [154]:
predictions

array([[ 0.18078068],
       [ 0.08439417],
       [ 0.09137717],
       ...,
       [ 0.17701912],
       [ 0.16144627],
       [-0.03849132]], dtype=float32)

In [155]:
from sklearn.metrics import accuracy_score

In [159]:
import numpy as np

element_list = [item[0] for item in predictions]

binary_predictions = np.round(element_list)

accuracy = np.mean(binary_predictions == y_test)

print(f'Accuracy: {accuracy * 100:.2f}%')

Accuracy: 81.47%